body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url('background-image-url.jpg'); /* 设置背景图片 */
    background-size: cover; /* 背景图片覆盖整个页面 */
    background-position: center; /* 背景图片居中显示 */
}

.header {
    text-align: center;
    padding: 20px 0; /* 根据需要调整上下内边距 */
    background-color: rgba(0, 0, 0, 0.5); /* 为标题栏设置半透明背景以增强可读性 */
}

h2 {
    margin: 0; /* 移除外边距 */
    color: #fff; /* 设置标题颜色为白色 */
}

.homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff; /* 白色文字 */
    padding: 20px; /* 添加一些内边距 */
}

h1, p, button {
    margin: 10px 0; /* 调整间距 */
}

button {
    font-size: 1em;
    padding: 10px 20px;
    background-color: #ff99cc; /* 按钮颜色 */
    color: #fff; /* 按钮文字颜色 */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ff77a9; /* 鼠标悬停效果 */
}
